{% extends "@EdgarEzUIProfile/profile/view.html.twig" %}

{% block body_class %}ez-info-view{% endblock %}

{% block subtitle %}
    {% set subtitle = 'Manage your password'|trans %}
    {{ parent() }}
{% endblock %}

{% block profilecontent %}
    {{ form_start(form_password, { 'action': path('edgar.ezuiprofile.password') }) }}
        <table class="table ez-table--list">
            <tbody>
                <tr>
                    <td>{{ form_label(form_password.oldPassword) }}</td>
                    <td>{{ form_widget(form_password.oldPassword) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form_password.newPassword.first) }}</td>
                    <td>
                        {{ form_widget(form_password.newPassword.first) }}
                        {{ form_errors(form_password.newPassword.first) }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(form_password.newPassword.second) }}</td>
                    <td>
                        {{ form_widget(form_password.newPassword.second) }}
                        {{ form_errors(form_password.newPassword.second) }}
                    </td>
                </tr>
            </tbody>
        </table>

        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">
            <svg class="ez-icon ez-icon-search-button">
                <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#search"></use>
            </svg>
            {{ 'filter_password.submit'|trans|desc('Submit') }}</button>
        </span>
    {{ form_end(form_password) }}
{% endblock %}

