{% extends "@EdgarEzUIProfile/profile/view.html.twig" %}

{% form_theme form_password '@EzPlatformAdminUi/form_fields.html.twig'  %}

{% block body_class %}ez-info-view{% endblock %}

{% block subtitle %}
    {% set subtitle = 'Manage your password'|trans %}
    {{ parent() }}
{% endblock %}

{% block profilecontent %}

    {{ form_start(form_password, { 'action': path('edgar.ezuiprofile.password') }) }}

    <section class="container mt-4">
        <div class="card ez-card">
            <div class="card-body">
                {{ form_row(form_password.oldPassword) }}
                {{ form_row(form_password.newPassword) }}
            </div>
        </div>
    </section>

    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">
        <svg class="ez-icon ez-icon-search-button">
            <use xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#search"></use>
        </svg>
        {{ 'filter_password.submit'|trans|desc('Submit') }}</button>
    </span>

    {{ form_end(form_password) }}
{% endblock %}

